@page
@model ProyectoR.App.Frontend.Pages.FormEstudianteModel
@{
}
 
<div class="text-center">
<form method=”POST”>
  <div class="container">
  <div class="row justify-content-start">
  <div class="col-6">
  <label for="nombre" class="form-label">Nombre:</label>
  <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre">
  </div>
  <div class="col-6">
  <label for="apellidos" class="form-label">Apellidos:</label>
  <input type="text" class="form-control" id="apellidos" name="apellidos" placeholder="Apellidos">
  </div>
  <div class="col-6">
  <label for="edad" class="form-label">Edad:</label>
  <input type="number" class="form-control" id="edad" name="edad" placeholder="Edad">
  </div>
  <div class="col-6">
  <label for="telefono" class="form-label">Telefono:</label>
  <input type="text" class="form-control" id="telefono" name="telefono" placeholder="Telefono">
  </div>
  <div class="col-6">
  <label for="direccion" class="form-label">Direccion:</label>
  <input type="text" class="form-control" id="direccion" name="direccion" placeholder="Direccion">
  </div>
  <div class="col-6">
  <label for="barrio" class="form-label">Barrio:</label>
  <input type="text" class="form-control" id="barrio" name="barrio" placeholder="Barrio">
  </div>
  <div class="col-6">
  <label for="email" class="form-label">Email:</label>
  <input type="text" class="form-control" id="email" name="email" placeholder="Email">
  </div>
  <div class="col-6">
  <label for="gruporh" class="form-label">Grupo Sanguineo:</label>
  <input type="text" class="form-control" id="gruporh" name="gruporh" placeholder="Gruporh">
  </div>
  <div class="col-6">
  <label for="grado" class="form-label">Grado:</label>
  <input type="text" class="form-control" id="grado" name="grado" placeholder="Grado">
  </div>
  <div class="col-6">
  <label for="sexo" class="form-label">Sexo:</label>
  <input type="text" class="form-control" id="sexo" name="sexo" placeholder="Sexo">
  </div>
  <div class="col-6">
  <label for="encargado" class="form-label">Encargado:</label>
  <input type="text" class="form-control" id="encargado" name="encargado" placeholder="Encargado">
  </div>
  <div class="col-6">
  <label for="tel_encargado" class="form-label">Tel Encargado:</label>
  <input type="text" class="form-control" id="tel_encargado" name="tel_encargado" placeholder="Tel_encargado">
  </div>
  <div class="col-6">
  <label for="grupo_etnico" class="form-label">Grupo Etnico:</label>
  <input type="text" class="form-control" id="grupo_etnico" name="grupo_etnico" placeholder="Grupo_etnico">
  </div>
  <div class="col-6">
  <label for="vacuna" class="form-label">Vacunado:</label>
  <input type="text" class="form-control" id="vacuna" name="vacuna" placeholder="Vacuna">
  </div>
  <div class="col-6">
  <label for="nombre_vacuna" class="form-label">Nombre Vacuna:</label>
  <input type="text" class="form-control" id="nombre_vacuna" name="nombre_vacuna" placeholder="Nombre_vacuna">
  </div>
  <div class="col-6">
  <label for="dosis" class="form-label">Dosis Aplicada:</label>
  <input type="text" class="form-control" id="dosis" name="dosis" placeholder="Dosis">
  </div>
  </div>
  </div>
  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
</form>
</div>
